# ЗАДАНИЕ 1

In [1]:
import pandas as pd

In [26]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [31]:
rating_sort = rating [ (rating['rating'] == 5.0)]
rating_sort['movieId'].value_counts(normalize=True).head()
movies[movies['movieId'] == 318]['title'].head()

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

# ЗАДАНИЕ 2

In [32]:
import pandas as pd

In [34]:
power=pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [41]:
filtered_countries = power[(power['country']=='Litva') | (power['country']=='Estonia') | (power['country']=='Latvia') ]
filtered_countries.head()

     country  year  quantity  category
5273  Latvia  2014       0.0         3
5274  Latvia  2013       1.0         3
5275  Latvia  2012       3.0         3
5276  Latvia  2011       0.0         3
5277  Latvia  2010       0.0         3

In [76]:
fc = filtered_countries[(filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21)]
fc1 = fc[ (fc['year'] <= 2010) & (fc['year'] >= 2005)]
fc2 = fc1[ (fc1['quantity'] >= 0)]
fc2['quantity'].sum()

118284.0

# ЗАДАНИЕ 3

In [66]:
page_url = 'https://www.profinance.ru/quote_show.php'

In [67]:
df = pd.read_html(page_url, attrs = {'class': 'pfs-news-2x5'}, encoding='utf-8')

In [70]:
df[:6]

[                                                   0  \
 0  21:07  Baker Hughes: в США одновременно растет...

                                                    1
 0  21:36  Goldman Sachs ставит на рост рубля и ря...  ]

In [71]:
page_url = 'http://mfd.ru/marketdata/'

In [72]:
df = pd.read_html(page_url, attrs = {'class': 'mfd-table'}, encoding='utf-8')

In [75]:
df[:10]

[                Тикер                Время         Значение  \
                 Тикер                Время             посл
      Фондовые индексы     Фондовые индексы Фондовые индексы
 0              DAX 30  25.09.2020 18:35:33         12 469.2
 1       DJ Industrial             00:06:56        27 173.96
 2            FTSE 100  25.09.2020 18:35:33         5 842.67
 3         NASDAQ Comp  25.09.2020 23:00:12      10 913.5618
 4          Nikkei 225  25.09.2020 09:00:02        23 204.62
 ..                ...                  ...              ...
 101  @Light crude oil             00:00:01            40.04
 102      @Natural gas             00:00:01            2.804
 103            @Sugar  01.10.2017 21:00:01           0.1354
 104             Тикер                Время         Значение
 105             Тикер                Время             посл

                                                                                \
                                                  пред закр
     Фондовые индексы.1 Фондовые индексы.2 Фондовые индексы Фондовые индексы.1
 0              −137.37             −1.09%        12 606.57          12 606.57
 1              +358.52             +1.34%        26 815.44          26 815.44
 2               +19.89             +0.34%         5 822.78           5 822.78
 3            +241.2956             +2.26%      10 672.2662        10 671.9431
 4               +116.8             +0.51%        23 087.82          23 087.82
 ..                 ...                ...              ...                ...
 101              −0.27             −0.67%            40.31              40.19
 102             −0.095             −3.28%            2.899              2.863
 103            +0.0031             +2.34%           0.1323             0.1354
 104           Значение           Значение         Значение           Значение
 105               посл               посл        пред закр          пред закр


                 откр              мин             макс
     Фондовые индексы Фондовые индексы Фондовые индексы
 0          12 606.57        12 343.53        12 620.85
 1          27 173.96        27 173.96        27 173.96
 2           5 822.78         5 771.61         5 843.54
 3        10 672.2662      10 642.2825      10 938.4172
 4          23 216.68        23 154.77        23 272.04
 ..               ...              ...              ...
 101            40.04            40.04            40.04
 102            2.804            2.804            2.804
 103           0.1354           0.1354           0.1354
 104         Значение         Значение         Значение
 105             откр              мин             макс

 [106 rows x 10 columns]]